#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  margin 0px

a
  font-family 'Avenir', Helvetica, Arial, sans-serif
  text-decoration none
  color #2c3e50

.icon
  fill #2c3e50 !important
  border-radius 50%

.icon:hover
  fill #00fa9a !important
  background-color #8492A6

.icon--ei-chevron-down
  fill #2c3e50

.icon--ei-chevron-down:hover
  fill #00fa9a
  background-color rgba(0,0,0,0)

.icon--ei-search
  margin-left 0.5rem

.icon--ei-search:hover, .icon--ei-bell:hover, .icon--ei-arrow-up:hover
  background-color rgba(0,0,0,0)

.info-link .icon-style
  top 0.5rem

.info-link .icon-style:hover
  background-color rgba(0,0,0,0)
  fill #00fa9a
