@import './assets/package/font-awesome-4.7.0/css/font-awesome.min.css'

@font-face
  font-family 'SentyWEN2017'
  //因为本文件在APP.vue中引用的，所以相对路径是相对于APP.vue文件的路径
  //src: url('./assets/font/NotoSansCJk/NotoSansCJKsc-Light.otf') format('opentype');
  src url('./assets/font/Senty/SentyWEN2017.ttf') format('truetype')

@font-face
  font-family 'SentyMARUKO'
  src url('./assets/font/Senty/SentyMARUKO.ttf') format('truetype')

@font-face
  font-family 'SentyZHAO'
  src url('./assets/font/Senty/SentyZHAO.ttf') format('truetype')

@font-face
  font-family 'SentyCHALK'
  src url('./assets/font/Senty/SentyCHALKoriginal.ttf') format('truetype')

@font-face
  font-family 'SentPea'
  src url('./assets/font/Senty/SentyPea.ttf') format('truetype')

@font-face
  font-family 'SentySnow'
  src url('./assets/font/Senty/SentySnowMountain.ttf') format('truetype')

#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  margin 0px

a
  font-family 'Avenir', Helvetica, Arial, sans-serif
  text-decoration none
  color #2c3e50

.icon
  fill #2c3e50 !important
  border-radius 50%

.icon:hover
  fill #00fa9a !important
  background-color #8492A6

.icon--ei-chevron-down
  fill #2c3e50

.icon--ei-chevron-down:hover
  fill #00fa9a
  background-color rgba(0,0,0,0)

.icon--ei-search
  margin-left 0.5rem

.icon--ei-search:hover, .icon--ei-bell:hover, .icon--ei-arrow-up:hover
  background-color rgba(0,0,0,0)

.info-link .icon-style
  top 0.5rem

.info-link .icon-style:hover
  background-color rgba(0,0,0,0)
  fill #00fa9a

.icon--ei-sc-github, .icon--ei-sc-facebook, .icon--ei-sc-twitter, .icon--ei-user
  transition all 0.5s linear

.CodeRay
  .code
    overflow: scroll;
