#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0px;
}

.icon{
  fill: #2c3e50 !important;
  border-radius: 50%;
}

.icon:hover{
  fill: #00fa9a !important;
  background-color: #8492A6;
}

.icon--ei-chevron-down{
  fill: #2c3e50;
}

.icon--ei-chevron-down:hover{
  fill: #00fa9a;
  background-color: rgba(0,0,0,0);
}

.icon--ei-search{
  margin-left: 0.5rem;
}

.icon--ei-search:hover{
  background-color: rgba(0,0,0,0);
}

.icon--ei-bell:hover{
  background-color: rgba(0,0,0,0);
}
